{#=== Options ===========================================================================================================#}

{% set attr_opt = {
    class:        field.class|default(''),
    name_id:      key,
    required:     field.required|default(false),
    readonly:     field.readonly|default(false)
}%}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="colourpicker">
    <div class="col-sm-12">
        <div>
            <label class="control-label">{{field.label|default(key)}}</label>
        </div>
        <select data-colourpicker {{ macro.attr(attr_opt) }}>
            {% for key, value in field.values %}
                {% set isSelected =  (key == context.content.get(key)) %}
                <option value="{{key}}"{% if isSelected %} selected="selected"{% endif %}>{{value}}</option>
            {% endfor %}
        </select>
    </div>
</fieldset>
